BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
SpaceAfterTemplateKeyword: true
PointerAlignment: Left

# Logic: Storage -> Evaluation -> Type -> Constness
QualifierAlignment: Custom
QualifierOrder: [
  'static',
  'inline',
  'type',
  'const',
  'volatile'
]

LineEnding: LF
